---
name: integration-tests

on:
  workflow_dispatch: {}

jobs:
  integration-tests:
    strategy:
      fail-fast: false
      matrix:
        java: ["8"]
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    name: itest-${{ matrix.java }}
    steps:
      - name: checkout-openrewrite/spring-petclinic-migration
        uses: actions/checkout@v3
        with:
          repository: openrewrite/spring-petclinic-migration
      - name: setup-plugin-checkout-source
        uses: actions/checkout@v3
        with:
          path: rewrite-gradle-plugin
      - name: setup-plugin-setup-java-11
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11
      - name: setup-plugin-pTML
        run: ./rewrite-gradle-plugin/gradlew --project-dir rewrite-gradle-plugin pTML
      - name: setup-java-${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: run-validateRewrite
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            --info
            --stacktrace
            --no-daemon
            --init-script /home/runner/work/rewrite-gradle-plugin/rewrite-gradle-plugin/rewrite-gradle-plugin/scripts/spring-petclinic-test.init.gradle
            validateRewrite
          gradle-version: current
